* {
    padding: 0;
    margin: 0;
}

.header {
    width: 100%;
    border-bottom: 1px solid #d0d0d0;
    display: inline-block;
}

.container {
    width: 1241px;
    margin: auto;
}

.nav {
    width: 100%;
}

.logo {
    width: 20%;
    float: left;
}

.menu {
    width: 80%;
    float: left;
    text-align: right;
}

.menu ul {}

.menu li {
    list-style: none;
    display: inline-block;
    padding: 21px 12px;
}

.menu a {
    color: black;
    text-decoration: none;
    font-family: arial;
    font-size: 17px;
}

.menu a:hover {
    color: #333030;
    transition: .3s ease;
}

.home-section {}

.home-section-wrapper {
    width: 800px;
    margin: auto;
    text-align: center;
    margin-top: 45px;
}

.home-section-details {
    width: 80%;
    margin: auto;
}

.home-section-details h3 {
    font-family: baloo da;
    font-size: 50px;
}

.home-section-details h2 {
    font-family: baloo da;
    color: #008AFF;
    font-size: 50px;
    margin-top: -20px;
}

.home-section-details span {
    color: blue;
}

.home-section-details p {
    font-size: 15px;
    font-family: arial;
    width: 100%;
    margin: 0 auto;
}

.home-section-img {
    width: 110%;
    margin: auto;
}

.home-section-img img {}

.home-section-end {
    display: block;
}

.left {
    width: 43%;
    float: left;
    text-align: right;
    height: 217px;
    padding: 3%;
}

.left h3 {
    font-size: 50px;
    font-family: baloo da;
    color: tomato;
}

.left p {
    font-size: 17px;
    font-family: arial;
}

.right {
    width: 43%;
    float: left;
    text-align: left;
    height: 217px;
    padding: 3%;
}

.right h3 {
    font-size: 44px;
    font-family: staatliches;
}

.service-section {
    margin-bottom: 9%;
}

.service-section-wrapper {
    width: 1140px;
    margin: auto;
}

.service-1 {
    width: 31%;
    float: left;
    margin: 1%;
    background: #fdebed;
    text-align: left;
}

.service-1-img {}

.service-1-img img {
    width: 434px;
    max-width: 100%;
}

.service-1-details {}

.service-1-details {
    padding: 5%;
}

.service-1-details h2 {
    font-size: 22px;
    font-family: arial;
    text-transform: uppercase;
}

.service-1-details p {
    font-size: 18px;
    font-family: arial;
}

.copyright-section {
    background-color: #008AFF;
    text-align: center;
    display: inline-block;
    width: 100%;
    height: 80px;
    margin-top: 5%;
}

.copyright-section p {
    line-height: 80px;
    font-size: 14px;
    color: #ffffff;
    font-family: arial;
    text-transform: uppercase;
}